{#This is the page where the user can edit details of his listings #}

{% extends "studentswap/base.html" %}
{% load static %}

{% block csslinks  %}
     <link rel="stylesheet" href="{% static "css/sell.css" %}">
{% endblock %}

{% block jslinks %}
    <script src="{% static "js/jquery-3.7.1.min.js" %}"></script>
    <script src="{% static "js/scripts.js" %}"></script>
{% endblock %}

{% block content %}

     <div class="sell">
       <div id="heading">
         <h3>Edit your item</h3>
       </div>

       <div class="sellitem">

         <form id="sellform" method="POST" action="{% url "saveedit" item.id %}">
              {% csrf_token %}
         <div class="field">
             <div ><label for="sellitemname">Change title</label></div>
             <div class="divinput"><textarea id="desc" style="height: 100px;" name="itemname">{{ item.itemname }}</textarea><br></div>
         </div>

         <div class="field">
             <div class="divlabel"><label for="desc">Change description</label></div>
             <div class="divinput"><textarea id="desc" style="height: 100px;" name="desc">{{ item.description }}</textarea><br></div>
         </div>

{#         <div class="field">#}
{#             <div class="divlabel"><label >Change images</label></div>#}
{#             <div class="divinput"> <button class="imagesbtn" onclick="">Upload images</button><br></div>#}
{#         </div>#}

         <div class="field">
             <div class="divlabel"><label >Current category : {{ item.category}}</label></div>
         </div>

             <div class="field">
             <div class="divlabel"><label >Current subcategory : {{ item.subcategory}}</label></div>
         </div>

             <!--Dropdown to choose categories and subcategories-->
             <div class="field">

                 <label>Change category:</label>

                 <select name="subcategoryfilters" id="subcategoryfilters">
                   <optgroup label="Furniture" >
                     <option value="Furniture-Living Room Furniture" >Living Room Furniture</option>
                     <option value="Furniture-Dining Room Furniture">Dining Room Furniture</option>
                     <option value="Furniture-Bedroom Furniture">Bedroom Furniture</option>
                     <option value="Furniture-Home Office Furniture">Home Office Furniture</option>
                     <option value="Other-Miscellaneous">Other</option>
                   </optgroup>

                   <optgroup label="Electronic devices" >
                     <option value="Electronic devices-Computer & Accessories">Computer & Accessories</option>
                     <option value="Electronic devices-Mobile devices & Accessories">Mobile devices & Accessories</option>
                     <option value="Electronic devices-Home Appliances">Home Appliances</option>
                     <option value="Electronic devices-Audio & Music">Audio & Music</option>
                     <option value="Other-Miscellaneous">Other</option>
                   </optgroup>

                   <optgroup label="Kitchenware" >
                     <option value="Kitchenware-Cookware">Cookware</option>
                     <option value="Kitchenware-Cutlery">Cutlery</option>
                     <option value="Kitchenware-Kitchen Tools & Utensils">Kitchen Tools & Utensils</option>
                     <option value="Kitchenware-Kitchen Appliances">Kitchen Appliances</option>
                     <option value="others-Miscellaneous">Other</option>
                   </optgroup>

                   <optgroup label="Home Accessories" >
                     <option value="Home Accessories-Lighting">Lighting</option>
                     <option value="Home Accessories-Bedding & Linens">Bedding & Linens</option>
                     <option value="Home Accessories-Shelving & Storage">Shelving & Storage</option>
                     <option value="Home Accessories-Bathroom Accessories">Bathroom Accessories</option>
                     <option value="Home Accessories-Desk Accessories">Desk Accessories</option>
                     <option value="Home Accessories-Kitchen Accessories">Kitchen Accessories</option>
                     <option value="Other-Miscellaneous">Other</option>
                   </optgroup>

                   <optgroup label="Books" >
                     <option value="Books-Textbooks">Textbooks</option>
                     <option value="Other-Miscellaneous">Other</option>
                   </optgroup>

                 </select>


             </div>

             <div class="field">
                 <div class="divlabel"><label for="price" >Change price</label></div>
                 <div class="divinput"> <div class="divinput">
                     <input type="text" value="{{ item.price}}" name="price" id="price"><br></div>
             </div>
             </div>


             <div class="field" style="justify-content:center;">
                 <button type="submit" class="sellbtn"  >Save changes</button><br>

             </div>


         </form>

     </div>

     </div>


{% endblock %}